<!DOCTYPE html>
<html>
  <head>
<% if (locals.error) { -0%>
    <title><%= error.message %></title>
<% } else { -%>
    <title><%= title %></title>
<% } -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="Join Status" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Status — A secure messaging app, crypto wallet, and Web3 browser" />
<% if (locals.error) { -%>
    <meta property="og:title" content="<%= error.message %>" />
<% } else { -%>
    <meta property="og:title" content="<%= title %>" />
<% } -%>
<% if (locals.fullUrl) { -%>
    <meta property="og:url" content="<%= fullUrl %>" />
<% } -%>
<% if (locals.qrCardUrl) { -%>
    <meta property="og:image" content="<%= qrCardUrl %>" />
<% } else { -%>
    <meta property="og:image" content="https://join.status.im/img/logo.svg" />
<% } -%>

    <!-- Formatting for Twitter link unfurling to fit QR code. -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ethstatus" />
    <meta property="twitter:image" content="<%= rootUrl %>/img/logo.jpg" />
    <meta property="twitter:image:alt" content="Status logo" />

<% if (locals.path) { -%>
    <meta property="status-im:target" content="<%= mainTarget %>" />

    <meta property="al:ios:url" content="status-im:/<%= path %>" />
    <meta property="al:ios:app_store_id" content="1178893006" />
    <meta property="al:ios:app_name" content="Status — Ethereum. Anywhere" />

    <meta property="al:android:url" content="status-im:/<%= path %>" />
    <meta property="al:android:package" content="im.status.ethereum" />
    <meta property="al:android:app_name" content="Status — Ethereum. Anywhere" />
<% } -%>

<% if (locals.noindex) { -%>
    <!-- Disable indexing by Google & other search engines. -->
    <meta name="robots" content="noindex">
<% } -%>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans:400,500,700">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css">
  </head>
  <body>
    <%- include('header') %>
    <%if (locals.error) { %>
    <%- include('fail') %>
    <% } else if (locals.redirect) { %>
    <%- include('redirect') %>
    <% } else { %>
    <%- include('join') %>
    <% } %>
    <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script type='text/javascript' src='/js/app.js'></script>
    <%- include('fathom') %>
  </body>
</html>
