<!DOCTYPE html>
<html>
  <head>
    <%if (locals.error) { %>
    <title><%= error.message %></title>
    <% } else { %>
    <title><%= title %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (locals.path) { %>
    <meta property="status-im:target" content="<%= mainTarget %>" />

    <meta property="al:ios:url" content="status-im:/<%= path %>" />
    <meta property="al:ios:app_store_id" content="1178893006" />
    <meta property="al:ios:app_name" content="Status — Ethereum. Anywhere" />

    <meta property="al:android:url" content="status-im:/<%= path %>" />
    <meta property="al:android:package" content="im.status.ethereum" />
    <meta property="al:android:app_name" content="Status — Ethereum. Anywhere" />
    <% } %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://status.im/css/main.min.css">
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header>
      <div class="col">
        <a href="https://status.im/" class="logo"><img src="/img/logo.svg"></a>
      </div>
      <nav>
        <ul>
          <li><a href="https://status.im/features/">Features</a></li>
          <li class="has-submenu">
            <a href="https://status.im/get-involved/">Get Involved <i class="arrow"></i></a>
            <div class="submenu">
              <div class="container">
                <div class="row">
                  <div class="col-md-5 text-right">
                    <h4>Get Involved</h4>
                    <p class="p-large">Status is an open source project <br>made by people all over the world.</p>
                    <a href="https://status.im/get-involved/" class="link-arrow">Learn More</a>
                  </div>
                  <div class="col-md-4 offset-md-1">
                    <ul>
                      <li><a href="https://status.im/get-involved/developers/" class="link-arrow">Developers</a></li>
                      <li>
                        <ul class="social-links">
                          <li>
                            <a href="https://discuss.status.im/" target="_blank" class="icon-discourse">
                              <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" d="M8.06786 1.14307C3.68929 1.14307 0 4.66092 0 9.00378C0 9.14307 0.00357143 17.1431 0.00357143 17.1431L8.06786 17.1359C12.45 17.1359 16 13.4824 16 9.1395C16 4.79664 12.45 1.14307 8.06786 1.14307ZM8 13.7145C7.30714 13.7145 6.64643 13.5609 6.05714 13.2824L3.16071 14.0002L3.97857 11.3216C3.62857 10.6752 3.42857 9.93235 3.42857 9.14307C3.42857 6.61807 5.475 4.57164 8 4.57164C10.525 4.57164 12.5714 6.61807 12.5714 9.14307C12.5714 11.6681 10.525 13.7145 8 13.7145Z" fill="#090909"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://join.status.im/chat/public/status" target="_blank" class="icon-status">
                              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.56399 7.53454C8.44481 7.62823 9.32562 7.72186 10.4085 7.66023C13.3425 7.49313 15.1198 5.95469 14.9937 3.6551C14.8652 1.31539 12.5007 -0.126087 10.1349 0.00869768C6.27942 0.228154 3.44428 3.68621 3.12497 7.6386C3.64857 7.51329 4.19968 7.43847 4.71939 7.4089C5.80237 7.34727 6.68318 7.4409 7.56399 7.53454ZM0.00597997 12.6495C0.12764 14.7943 2.3677 16.1156 4.60907 15.992C8.26156 15.7908 10.9476 12.6209 11.25 8.9979C10.754 9.11278 10.2319 9.18145 9.73953 9.20852C8.71356 9.26504 7.87904 9.17921 7.04453 9.09332C6.21007 9.0075 5.37556 8.92167 4.34965 8.97819C1.57021 9.13134 -0.113675 10.5415 0.00597997 12.6495Z" fill="#090909"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://discord.gg/3Exux7Y" class="icon-status" target="_blank">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"    width="18px" height="18px"    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M20.222 0c1.406 0 2.54 1.137 2.607 2.475V24l-2.677-2.273l-1.47-1.338l-1.604-1.398l.67 2.205H3.71c-1.402 0-2.54-1.065-2.54-2.476V2.48C1.17 1.142 2.31.003 3.715.003h16.5L20.222 0zm-6.118 5.683h-.03l-.202.2c2.073.6 3.076 1.537 3.076 1.537c-1.336-.668-2.54-1.002-3.744-1.137c-.87-.135-1.74-.064-2.475 0h-.2c-.47 0-1.47.2-2.81.735c-.467.203-.735.336-.735.336s1.002-1.002 3.21-1.537l-.135-.135s-1.672-.064-3.477 1.27c0 0-1.805 3.144-1.805 7.02c0 0 1 1.74 3.743 1.806c0 0 .4-.533.805-1.002c-1.54-.468-2.14-1.404-2.14-1.404s.134.066.335.2h.06c.03 0 .044.015.06.03v.006c.016.016.03.03.06.03c.33.136.66.27.93.4a8.18 8.18 0 0 0 1.8.536c.93.135 1.996.2 3.21 0c.6-.135 1.2-.267 1.8-.535c.39-.2.87-.4 1.397-.737c0 0-.6.936-2.205 1.404c.33.466.795 1 .795 1c2.744-.06 3.81-1.8 3.87-1.726c0-3.87-1.815-7.02-1.815-7.02c-1.635-1.214-3.165-1.26-3.435-1.26l.056-.02zm.168 4.413c.703 0 1.27.6 1.27 1.335c0 .74-.57 1.34-1.27 1.34c-.7 0-1.27-.6-1.27-1.334c.002-.74.573-1.338 1.27-1.338zm-4.543 0c.7 0 1.266.6 1.266 1.335c0 .74-.57 1.34-1.27 1.34c-.7 0-1.27-.6-1.27-1.334c0-.74.57-1.338 1.27-1.338z" 
                                      fill="#090909" />
                                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://www.facebook.com/ethstatus" class="icon-facebook" target="_blank">
                              <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M5.203 8.07013H7.552L7.905 5.43713H5.203V3.74713C5.203 2.98313 5.416 2.46213 6.552 2.46213H8V0.100131C7.29882 0.0310031 6.59457 -0.00237344 5.89 0.000131122C3.8 0.000131122 2.37 1.22513 2.37 3.48613V5.43613H0V8.07013H2.371V14.8571H5.203V8.07013Z" fill="#090909"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://twitter.com/ethstatus" class="icon-twitter" target="_blank">
                              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M13.232 2.056C13.8854 1.63145 14.3656 0.987398 14.586 0.24C13.987 0.62 13.325 0.89 12.631 1.036C12.0671 0.382464 11.2482 0.00470955 10.385 0C8.685 0 7.307 1.469 7.307 3.282C7.307 3.533 7.334 3.784 7.388 4.029C4.83 3.893 2.562 2.587 1.044 0.601C0.768819 1.10728 0.625742 1.67477 0.628 2.251C0.628 3.389 1.17 4.394 1.996 4.982C1.50422 4.96489 1.02473 4.82386 0.602 4.572V4.613C0.602 6.203 1.664 7.53 3.072 7.831C2.62003 7.96171 2.14316 7.98126 1.682 7.888C2.073 9.192 3.21 10.14 4.557 10.167C3.2938 11.2353 1.64202 11.7279 0 11.526C1.38681 12.4836 3.03169 12.9976 4.717 13C10.377 13 13.473 8 13.473 3.662C13.473 3.52 13.47 3.378 13.464 3.238C14.0725 2.76702 14.5926 2.19176 15 1.539C14.4416 1.80337 13.8449 1.97785 13.232 2.056Z" fill="#090909"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://www.reddit.com/r/statusim" class="icon-reddit" target="_blank">
                              <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" d="M17.9998 8.2212C17.9859 7.836 17.8622 7.4631 17.6438 7.1474C17.4253 6.8318 17.1214 6.5868 16.7686 6.4422C16.4158 6.2975 16.0292 6.2593 15.6554 6.3321C15.2817 6.405 14.9367 6.5857 14.6621 6.8527C13.1249 5.7944 11.3179 5.2097 9.4596 5.1693L10.338 0.899432L13.2297 1.51528C13.2641 1.83891 13.4113 2.13955 13.6448 2.36321C13.8783 2.58688 14.1829 2.71892 14.5038 2.73565C14.8248 2.75237 15.1412 2.65268 15.3961 2.45447C15.651 2.25626 15.8279 1.9725 15.8949 1.65414C15.9619 1.33579 15.9146 1.00367 15.7616 0.717412C15.6086 0.431152 15.3599 0.209492 15.0601 0.0922216C14.7603 -0.0250384 14.429 -0.0302383 14.1257 0.0775717C13.8225 0.185382 13.5671 0.399132 13.4054 0.680452L10.0947 0.00985175C10.0406 -0.00217825 9.9846 -0.00319806 9.9301 0.00683194C9.8755 0.0168719 9.8235 0.0377715 9.777 0.0683215C9.7305 0.0988715 9.6904 0.138472 9.6592 0.184822C9.6279 0.231162 9.606 0.283341 9.5948 0.338311L8.5948 5.0872C6.7137 5.1159 4.88184 5.7011 3.32479 6.7706C3.11648 6.5721 2.86805 6.4218 2.5967 6.3302C2.32535 6.2386 2.03758 6.2079 1.75333 6.2401C1.46908 6.2723 1.19515 6.3668 0.950529 6.5169C0.705899 6.667 0.496428 6.8692 0.336628 7.1094C0.176828 7.3497 0.0705187 7.6223 0.0250687 7.9083C-0.0203813 8.1943 -0.00389148 8.4869 0.0734085 8.7658C0.150709 9.0447 0.286959 9.3032 0.472729 9.5235C0.658489 9.7438 0.889328 9.9205 1.14923 10.0415C1.13402 10.2419 1.13402 10.4432 1.14923 10.6436C1.14923 13.7092 4.67608 16.2 9.0272 16.2C13.3784 16.2 16.9052 13.7092 16.9052 10.6436C16.9204 10.4432 16.9204 10.2419 16.9052 10.0415C17.2387 9.8736 17.5184 9.6136 17.7121 9.2915C17.9058 8.9694 18.0055 8.5983 17.9998 8.2212ZM4.4869 9.5898C4.4869 9.3191 4.56615 9.0545 4.71463 8.8295C4.86311 8.6044 5.07416 8.429 5.32107 8.3254C5.56799 8.2218 5.83968 8.1947 6.1018 8.2475C6.3639 8.3003 6.6047 8.4307 6.7937 8.6221C6.9827 8.8135 7.1114 9.0573 7.1635 9.3228C7.2156 9.5883 7.1889 9.8635 7.0866 10.1136C6.9843 10.3636 6.8111 10.5774 6.5889 10.7277C6.3667 10.8781 6.1054 10.9584 5.83819 10.9584C5.66073 10.9584 5.48502 10.923 5.32107 10.8542C5.15713 10.7854 5.00816 10.6846 4.88268 10.5575C4.7572 10.4305 4.65767 10.2796 4.58976 10.1136C4.52185 9.9475 4.4869 9.7695 4.4869 9.5898ZM12.3379 13.3534C11.3792 14.0851 10.1996 14.4575 9.0002 14.4072C7.8008 14.4575 6.6212 14.0851 5.66252 13.3534C5.60506 13.2825 5.57569 13.1925 5.58013 13.1008C5.58458 13.0092 5.62251 12.9225 5.68656 12.8577C5.7506 12.7928 5.83618 12.7544 5.92665 12.7499C6.0171 12.7454 6.106 12.7751 6.176 12.8333C6.9884 13.4369 7.9801 13.7411 8.9867 13.6955C9.9945 13.751 10.9908 13.4565 11.8109 12.8607C11.8826 12.7899 11.9791 12.7509 12.0792 12.7522C12.1287 12.7528 12.1777 12.7633 12.2232 12.7831C12.2688 12.8029 12.31 12.8316 12.3446 12.8675C12.3792 12.9035 12.4065 12.946 12.4249 12.9926C12.4433 13.0392 12.4524 13.0891 12.4518 13.1393C12.4512 13.1894 12.4408 13.239 12.4212 13.2852C12.4017 13.3313 12.3734 13.3731 12.3379 13.4081V13.3534ZM12.0946 11.0131C11.8274 11.0131 11.5661 10.9329 11.3439 10.7825C11.1217 10.6321 10.9485 10.4184 10.8462 10.1683C10.7439 9.9182 10.7172 9.643 10.7693 9.3776C10.8215 9.1121 10.9502 8.8682 11.1391 8.6768C11.3281 8.4854 11.5689 8.3551 11.831 8.3023C12.0931 8.2495 12.3648 8.2766 12.6118 8.3802C12.8587 8.4837 13.0697 8.6592 13.2182 8.8842C13.3667 9.1093 13.4459 9.3739 13.4459 9.6446C13.4533 9.83 13.4233 10.015 13.3578 10.1883C13.2924 10.3617 13.1928 10.5197 13.0651 10.6528C12.9375 10.786 12.7844 10.8914 12.6152 10.9628C12.4461 11.0341 12.2644 11.0699 12.0811 11.0679L12.0946 11.0131Z" fill="black"/>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://www.youtube.com/statusim" class="icon-youtube" target="_blank">
                              <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.142 8.665L7.141 3.608L12.005 6.145L7.142 8.665ZM17.82 2.731C17.82 2.731 17.644 1.491 17.105 0.945C16.42 0.228 15.653 0.225 15.301 0.182C12.782 0 9.004 0 9.004 0H8.996C8.996 0 5.218 0 2.699 0.182C2.347 0.224 1.58 0.228 0.895 0.945C0.355 1.491 0.18 2.731 0.18 2.731C0.18 2.731 0 4.189 0 5.645V7.009C0 8.466 0.18 9.922 0.18 9.922C0.18 9.922 0.356 11.162 0.895 11.709C1.58 12.426 2.479 12.403 2.88 12.479C4.32 12.617 9 12.659 9 12.659C9 12.659 12.782 12.654 15.301 12.472C15.653 12.43 16.421 12.426 17.105 11.709C17.645 11.163 17.82 9.922 17.82 9.922C17.82 9.922 18 8.466 18 7.009V5.644C18 4.187 17.82 2.73 17.82 2.73V2.731Z" fill="#090909"/>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="https://status.im/get-involved/educators/" class="link-arrow">Educators</a></li>
                      <li></li>
                      <li><a href="https://status.im/get-involved/community-groups/" class="link-arrow">Community Groups</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="https://status.im/security/">Security</a></li>
          <li><a href="https://status.im/snt-utility/">SNT Utility</a></li>
          <li class="has-submenu ">
            <a href="https://status.im/docs/">Docs <i class="arrow"></i></a>
            <div class="submenu">
              <div class="container">
                <div class="row">
                  <div class="col-md-5 text-right">
                    <h4>Documentation</h4>
                    <p class="p-large">Everything you need to start <br>developing with Status</p>
                    <a href="https://status.im/docs/" class="link-arrow">Read All</a>
                  </div>
                  <div class="col-md-4 offset-md-1">
                    <ul>
                      <li><a href="https://status.im/technical/" class="link-arrow">Contributor Guide</a></li>
                      <li><a href="https://status.im/developer_tools/" class="link-arrow">DApp Integration</a></li>
                      <li><a href="https://status.im/our_team/" class="link-arrow">Join Our Team</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="https://status.im/about/">About</a></li>
          <li><a href="https://our.status.im">Blog</a></li>
        </ul>
      </nav>
      <div class="col btns text-right">
        <a href="https://github.com/status-im/" target="_blank">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.2793C-0.000298842 16.1348 3.02955 20.4456 7.52152 21.9808C8.07188 22.0837 8.27249 21.7358 8.27249 21.4367C8.27249 21.1688 8.26325 20.4596 8.25797 19.5189C5.19868 20.1997 4.5533 18.0072 4.5533 18.0072C4.05178 16.7038 3.33117 16.356 3.33117 16.356C2.33208 15.6576 3.4064 15.6712 3.4064 15.6712C4.51107 15.751 5.09178 16.8338 5.09178 16.8338C6.07239 18.5567 7.66538 18.0586 8.29229 17.7703C8.39259 17.0422 8.67635 16.5455 8.99178 16.2626C6.54883 15.9784 3.98051 15.0107 3.98051 10.6893C3.98051 9.45765 4.40944 8.45071 5.11289 7.66302C4.99939 7.37745 4.62193 6.22976 5.22112 4.67739C5.22112 4.67739 6.14498 4.37422 8.24477 5.83456C9.1425 5.5836 10.0687 5.45572 10.9992 5.45425C11.9292 5.45552 12.8549 5.58295 13.7523 5.8332C15.8508 4.37422 16.7746 4.67739 16.7746 4.67739C17.3738 6.22976 16.9963 7.37745 16.8828 7.66302C17.5889 8.45071 18.0139 9.45765 18.0139 10.6893C18.0139 15.0215 15.4416 15.9757 12.9921 16.2545C13.3867 16.6023 13.7391 17.2912 13.7391 18.3428C13.7391 19.8505 13.7259 21.0673 13.7259 21.4367C13.7259 21.7385 13.9239 22.0891 14.4808 21.9795C19.8103 20.1557 22.9429 14.5062 21.7459 8.877C20.5489 3.24775 15.4072 -0.551533 9.82107 0.065584C4.23498 0.682701 0.000354915 5.51783 0 11.2793H0Z" fill="#4360DF"/>
          </svg>
        </a>
        <a href="https://status.im/get/" class="btn btn-purple btn-arrow">Get Status</a>
      </div>
      <a href="#" class="mobile-nav-trigger">
        <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="22" height="1" rx="0.5" fill="#090909"/>
          <rect y="7" width="22" height="1" rx="0.5" fill="#090909"/>
        </svg>
      </a>
      <div class="mobile-nav">
        <div class="mobile-nav-header">
          <a href="https://status.im/" class="logo"><img src="/img/logo.svg"></a>
          <a href="#" class="mobile-nav-trigger-close">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"/>
              <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="backdrop"></div>
    </header>
    <%if (locals.error) { %>
    <%- include('fail') %>
    <% } else if (locals.redirect) { %>
    <%- include('redirect') %>
    <% } else { %>
    <%- include('join') %>
    <% } %>
    <footer>
      <div class="get-started">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <h3>Ready to get started <br>with Status?</h3>
            </div>
            <div class="col-lg-7 text-right">
              <div class="inline">
                <a href="https://status.im/get/" class="btn btn-white-fill btn-arrow">Get Status</a>
                <a href="https://status.im/get-involved/" class="btn btn-white btn-arrow btn-arrow-white">Get Involved</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5><a data-toggle="collapse" href="#footer-nav-1" role="button" aria-expanded="true" aria-controls="footer-nav-1">Product</a></h5>
              <div class="collapse show" id="footer-nav-1">
                <ul>
                  <li><a href="https://status.im/features/">Features</a></li>
                  <li><a href="https://status.im/security/">Security</a></li>
                  <li><a href="https://status.im/get/">Apps</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h5><a data-toggle="collapse" href="#footer-nav-2" role="button" aria-expanded="true" aria-controls="footer-nav-2">Status</a></h5>
              <div class="collapse show" id="footer-nav-2">
                <ul>
                  <li><a href="https://status.im/get-involved/">Get Involved</a></li>
                  <li><a href="https://status.im/about/">About</a></li>
                  <li><a href="https://status.im/contribute/open_positions.html">Jobs</a></li>
                  <li><a href="https://our.status.im/">Blog</a></li>
                  <li><a href="https://status.im/whitepaper.pdf" target="_blank">White Paper</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h5><a data-toggle="collapse" href="#footer-nav-3" role="button" aria-expanded="true" aria-controls="footer-nav-3">Documentation</a></h5>
              <div class="collapse show" id="footer-nav-3">
                <ul>
                  <li><a href="https://status.im/docs/">Docs</a></li>
                  <li><a href="https://status.im/technical/contributor_guide.html">Get Started</a></li>
                  <li><a href="https://status.im/build_status/">Build Status</a></li>
                  <li><a href="https://status.im/nightly/">Nightlies</a></li>
                  <li><a href="https://status.im/developer_tools/">Developer Tools</a></li>
                  <li><a href="https://status.im/tutorials/">Tutorials</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h5><a data-toggle="collapse" href="#footer-nav-4" role="button" aria-expanded="true" aria-controls="footer-nav-4">Status Network</a></h5>
              <div class="collapse show" id="footer-nav-4">
                <ul>
                  <li><a href="https://embark.status.im/">Embark</a></li>
                  <li><a href="https://nimbus.team/">Nimbus</a></li>
                  <li><a href="https://keycard.tech/">Keycard</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="connect">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5>Connect</h5>
              <ul>
                <li>
                  <a href="https://join.status.im/chat/public/status" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.564 12.5345C14.4448 12.6282 15.3256 12.7219 16.4085 12.6602C19.3425 12.4931 21.1198 10.9547 20.9937 8.6551C20.8652 6.31539 18.5007 4.87391 16.1349 5.0087C12.2794 5.22815 9.44428 8.68621 9.12497 12.6386C9.64857 12.5133 10.1997 12.4385 10.7194 12.4089C11.8024 12.3473 12.6832 12.4409 13.564 12.5345ZM6.00598 17.6495C6.12764 19.7943 8.3677 21.1156 10.6091 20.992C14.2616 20.7908 16.9476 17.6209 17.25 13.9979C16.754 14.1128 16.2319 14.1815 15.7395 14.2085C14.7136 14.265 13.879 14.1792 13.0445 14.0933C12.2101 14.0075 11.3756 13.9217 10.3497 13.9782C7.57021 14.1313 5.88632 15.5415 6.00598 17.6495Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://discord.gg/3Exux7Y" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 245 245">
                      <g opacity="0.5">
                      <rect width="245" height="245" rx="20" fill="white" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z" />
                      <path
                        d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"
                        fill="black" />
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/ethstatus" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.203 14.0701H16.552L16.905 11.4371H14.203V9.74713C14.203 8.98313 14.416 8.46213 15.552 8.46213H17V6.10013C16.2988 6.031 15.5946 5.99763 14.89 6.00013C12.8 6.00013 11.37 7.22513 11.37 9.48613V11.4361H9V14.0701H11.371V20.8571H14.203V14.0701Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/ethstatus" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.232 9.056C19.8854 8.63145 20.3656 7.9874 20.586 7.24C19.987 7.62 19.325 7.89 18.631 8.036C18.0671 7.38246 17.2482 7.00471 16.385 7C14.685 7 13.307 8.469 13.307 10.282C13.307 10.533 13.334 10.784 13.388 11.029C10.83 10.893 8.562 9.587 7.044 7.601C6.76882 8.10728 6.62574 8.67477 6.628 9.251C6.628 10.389 7.17 11.394 7.996 11.982C7.50422 11.9649 7.02473 11.8239 6.602 11.572V11.613C6.602 13.203 7.664 14.53 9.072 14.831C8.62003 14.9617 8.14316 14.9813 7.682 14.888C8.073 16.192 9.21 17.14 10.557 17.167C9.2938 18.2353 7.64202 18.7279 6 18.526C7.38681 19.4836 9.03169 19.9976 10.717 20C16.377 20 19.473 15 19.473 10.662C19.473 10.52 19.47 10.378 19.464 10.238C20.0725 9.76702 20.5926 9.19176 21 8.539C20.4416 8.80337 19.8449 8.97785 19.232 9.056Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://discuss.status.im/" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path d="M13.0679 5.14282C8.68929 5.14282 5 8.66068 5 13.0035C5 13.1428 5.00357 21.1428 5.00357 21.1428L13.0679 21.1357C17.45 21.1357 21 17.4821 21 13.1393C21 8.79639 17.45 5.14282 13.0679 5.14282ZM13 17.7143C12.3071 17.7143 11.6464 17.5607 11.0571 17.2821L8.16071 18L8.97857 15.3214C8.62857 14.675 8.42857 13.9321 8.42857 13.1428C8.42857 10.6178 10.475 8.57139 13 8.57139C15.525 8.57139 17.5714 10.6178 17.5714 13.1428C17.5714 15.6678 15.525 17.7143 13 17.7143Z" fill="#090909"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/status-im" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 13.334C4.99977 16.9216 7.29547 20.1067 10.699 21.241C11.116 21.317 11.268 21.06 11.268 20.839C11.268 20.641 11.261 20.117 11.257 19.422C8.939 19.925 8.45 18.305 8.45 18.305C8.07 17.342 7.524 17.085 7.524 17.085C6.767 16.569 7.581 16.579 7.581 16.579C8.418 16.638 8.858 17.438 8.858 17.438C9.601 18.711 10.808 18.343 11.283 18.13C11.359 17.592 11.574 17.225 11.813 17.016C9.962 16.806 8.016 16.091 8.016 12.898C8.016 11.988 8.341 11.244 8.874 10.662C8.788 10.451 8.502 9.60299 8.956 8.45599C8.956 8.45599 9.656 8.23199 11.247 9.31099C11.9272 9.12556 12.629 9.03107 13.334 9.02999C14.0386 9.03093 14.7401 9.12508 15.42 9.30999C17.01 8.23199 17.71 8.45599 17.71 8.45599C18.164 9.60299 17.878 10.451 17.792 10.662C18.327 11.244 18.649 11.988 18.649 12.898C18.649 16.099 16.7 16.804 14.844 17.01C15.143 17.267 15.41 17.776 15.41 18.553C15.41 19.667 15.4 20.566 15.4 20.839C15.4 21.062 15.55 21.321 15.972 21.24C20.0101 19.8925 22.3836 15.7182 21.4767 11.559C20.5697 7.39967 16.6739 4.59249 12.4413 5.04846C8.20881 5.50443 5.00027 9.07696 5 13.334H5Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.reddit.com/r/statusim/" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path d="M21.9998 13.2212C21.9859 12.836 21.8622 12.4631 21.6438 12.1474C21.4253 11.8318 21.1214 11.5868 20.7686 11.4422C20.4158 11.2975 20.0292 11.2593 19.6554 11.3321C19.2817 11.405 18.9367 11.5857 18.6621 11.8527C17.1249 10.7944 15.3179 10.2097 13.4596 10.1693L14.338 5.89943L17.2297 6.51528C17.2641 6.83891 17.4113 7.13955 17.6448 7.36321C17.8783 7.58688 18.1829 7.71892 18.5038 7.73565C18.8248 7.75237 19.1412 7.65268 19.3961 7.45447C19.651 7.25626 19.8279 6.9725 19.8949 6.65414C19.9619 6.33579 19.9146 6.00367 19.7616 5.71741C19.6086 5.43115 19.3599 5.20949 19.0601 5.09222C18.7603 4.97496 18.429 4.96976 18.1257 5.07757C17.8225 5.18538 17.5671 5.39913 17.4054 5.68045L14.0947 5.00985C14.0406 4.99782 13.9846 4.9968 13.9301 5.00683C13.8755 5.01687 13.8235 5.03777 13.777 5.06832C13.7305 5.09887 13.6904 5.13847 13.6592 5.18482C13.6279 5.23116 13.606 5.28334 13.5948 5.33831L12.5948 10.0872C10.7137 10.1159 8.88184 10.7011 7.32479 11.7706C7.11648 11.5721 6.86805 11.4218 6.5967 11.3302C6.32535 11.2386 6.03758 11.2079 5.75333 11.2401C5.46908 11.2723 5.19515 11.3668 4.95053 11.5169C4.7059 11.667 4.49643 11.8692 4.33663 12.1094C4.17683 12.3497 4.07052 12.6223 4.02507 12.9083C3.97962 13.1943 3.99611 13.4869 4.07341 13.7658C4.15071 14.0447 4.28696 14.3032 4.47273 14.5235C4.65849 14.7438 4.88933 14.9205 5.14923 15.0415C5.13402 15.2419 5.13402 15.4432 5.14923 15.6436C5.14923 18.7092 8.67608 21.2 13.0272 21.2C17.3784 21.2 20.9052 18.7092 20.9052 15.6436C20.9204 15.4432 20.9204 15.2419 20.9052 15.0415C21.2387 14.8736 21.5184 14.6136 21.7121 14.2915C21.9058 13.9694 22.0055 13.5983 21.9998 13.2212ZM8.4869 14.5898C8.4869 14.3191 8.56615 14.0545 8.71463 13.8295C8.86311 13.6044 9.07416 13.429 9.32107 13.3254C9.56799 13.2218 9.83968 13.1947 10.1018 13.2475C10.3639 13.3003 10.6047 13.4307 10.7937 13.6221C10.9827 13.8135 11.1114 14.0573 11.1635 14.3228C11.2156 14.5883 11.1889 14.8635 11.0866 15.1136C10.9843 15.3636 10.8111 15.5774 10.5889 15.7277C10.3667 15.8781 10.1054 15.9584 9.83819 15.9584C9.66073 15.9584 9.48502 15.923 9.32107 15.8542C9.15713 15.7854 9.00816 15.6846 8.88268 15.5575C8.7572 15.4305 8.65767 15.2796 8.58976 15.1136C8.52185 14.9475 8.4869 14.7695 8.4869 14.5898ZM16.3379 18.3534C15.3792 19.0851 14.1996 19.4575 13.0002 19.4072C11.8008 19.4575 10.6212 19.0851 9.66252 18.3534C9.60506 18.2825 9.57569 18.1925 9.58013 18.1008C9.58458 18.0092 9.62251 17.9225 9.68656 17.8577C9.7506 17.7928 9.83618 17.7544 9.92665 17.7499C10.0171 17.7454 10.106 17.7751 10.176 17.8333C10.9884 18.4369 11.9801 18.7411 12.9867 18.6955C13.9945 18.751 14.9908 18.4565 15.8109 17.8607C15.8826 17.7899 15.9791 17.7509 16.0792 17.7522C16.1287 17.7528 16.1777 17.7633 16.2232 17.7831C16.2688 17.8029 16.31 17.8316 16.3446 17.8675C16.3792 17.9035 16.4065 17.946 16.4249 17.9926C16.4433 18.0392 16.4524 18.0891 16.4518 18.1393C16.4512 18.1894 16.4408 18.239 16.4212 18.2852C16.4017 18.3313 16.3734 18.3731 16.3379 18.4081V18.3534ZM16.0946 16.0131C15.8274 16.0131 15.5661 15.9329 15.3439 15.7825C15.1217 15.6321 14.9485 15.4184 14.8462 15.1683C14.7439 14.9182 14.7172 14.643 14.7693 14.3776C14.8215 14.1121 14.9502 13.8682 15.1391 13.6768C15.3281 13.4854 15.5689 13.3551 15.831 13.3023C16.0931 13.2495 16.3648 13.2766 16.6118 13.3802C16.8587 13.4837 17.0697 13.6592 17.2182 13.8842C17.3667 14.1093 17.4459 14.3739 17.4459 14.6446C17.4533 14.83 17.4233 15.015 17.3578 15.1883C17.2924 15.3617 17.1928 15.5197 17.0651 15.6528C16.9375 15.786 16.7844 15.8914 16.6152 15.9628C16.4461 16.0341 16.2644 16.0699 16.0811 16.0679L16.0946 16.0131Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/statusim" target="_blank">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.5">
                      <rect width="26" height="26" rx="2" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.142 15.665L11.141 10.608L16.005 13.145L11.142 15.665ZM21.82 9.731C21.82 9.731 21.644 8.491 21.105 7.945C20.42 7.228 19.653 7.225 19.301 7.182C16.782 7 13.004 7 13.004 7H12.996C12.996 7 9.218 7 6.699 7.182C6.347 7.224 5.58 7.228 4.895 7.945C4.355 8.491 4.18 9.731 4.18 9.731C4.18 9.731 4 11.189 4 12.645V14.009C4 15.466 4.18 16.922 4.18 16.922C4.18 16.922 4.356 18.162 4.895 18.709C5.58 19.426 6.479 19.403 6.88 19.479C8.32 19.617 13 19.659 13 19.659C13 19.659 16.782 19.654 19.301 19.472C19.653 19.43 20.421 19.426 21.105 18.709C21.645 18.163 21.82 16.922 21.82 16.922C21.82 16.922 22 15.466 22 14.009V12.644C22 11.187 21.82 9.73 21.82 9.73V9.731Z" fill="black"/>
                      </g>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inline">
                <a href="https://status.im/privacy-policy/">Privacy Policy</a>
                <a href="https://our.status.im/implementing-fathom-analytics-on-marketing-websites/">Site Analytics</a>
              </div>
              <p>Status Research & Development GmbH, Baarerstrasse 10, Zug, Switzerland</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script type='text/javascript' src='/js/app.js'></script>
  </body>
</html>
