<!DOCTYPE html>
<html>
  <head>
    <%if (locals.error) { %>
    <title><%= error.message %></title>
    <% } else { %>
    <title><%= title %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (locals.path) { %>
    <meta property="status-im:target" content="<%= mainTarget %>" />

    <meta property="al:ios:url" content="status-im:/<%= path %>" />
    <meta property="al:ios:app_store_id" content="1178893006" />
    <meta property="al:ios:app_name" content="Status — Ethereum. Anywhere" />

    <meta property="al:android:url" content="status-im:/<%= path %>" />
    <meta property="al:android:package" content="im.status.ethereum" />
    <meta property="al:android:app_name" content="Status — Ethereum. Anywhere" />
    <% } %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans:400,500,700">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css">
  </head>
  <body>
    <%- include('header') %>
    <%if (locals.error) { %>
    <%- include('fail') %>
    <% } else if (locals.redirect) { %>
    <%- include('redirect') %>
    <% } else { %>
    <%- include('join') %>
    <% } %>
    <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script type='text/javascript' src='/js/app.js'></script>
    <%- include('fathom') %>
  </body>
</html>
