<section class="join-content p-b-160 p-t-160 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 id="header" class="break-word"><%- headerName %></h3>
        <%if (locals.qrUri) { %>
          <img class="qr-code" src="<%= qrUri %>" />
        <% } %>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <div class="copy">
              <div class="inner" id="copy-target"><%= mainTarget %></div>
              <a href="#" data-clipboard-target="#copy-target">Copy</a>
            </div>
            <a href="status-im:/<%= path %>" id="open" onclick="return redirectToAppOrStore();" class="btn btn-purple-fill">Open in Status</a>
            <div class="info">
              <%- info %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
